Flask==2.3.2
Flask-Migrate==2.7.0
Flask_Script==2.0.6
Flask-Bcrypt==0.7.1
Flask-Cors==3.0.10
Flask-SQLAlchemy==2.5.1
Flask-Apscheduler==1.12.2
PyMySQL==1.0.2
requests==2.26.0
psutil==5.8.0
PyYAML==5.4.1
uWSGI
